

.navbar {
    margin: 0%;
    background-color: #24305e;

}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background: #d65c14;
}

.page {
    
    border: 1px solid red;
}

.row1 {
    padding: 1%;
    background-color: royalblue;
}